<% include ../partials/head %>

  <div class="container content_body">
      <div class="jumbotron shadow">
        <h1>Edit User</h1>      
      </div>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>User Level  </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% user.forEach(function(user) { %>
            <tr>
              <td><%=user.emp_id%></td>
              <td><%=user.name%></td>
              <td><%=user.username%></td>
              <td><%=user.userlevel%></td>
              <td><a class="btn btn-primary" href="/users/edit/<%=user.emp_id%>" role="button">Edit</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

<% include ../partials/footer %>
