<% include ../partials/head %>

  <div style="padding-bottom: 100px;" class="container">
      <div class="jumbotron">
        <h1>Edit User</h1>      
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>User Level  </th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% user.forEach(function(user) { %>
            <tr>
              <td><%=user.emp_id%></td>
              <td><%=user.name%></td>
              <td><%=user.username%></td>
              <td><%=user.userlevel%></td>
              <td><a class="btn btn-primary" href="/users/edit/<%=user.emp_id%>" role="button">Edit</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

<% include ../partials/footer %>
