<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <h3>Users</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>User Level</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%var id = 0; %>
        <% users.forEach(function(user, index) { %>
        <tr>
          
          <td><%=user.emp_id %></td>
          <td><%=user.name %></td>
          <td><%=user.username%></td>
          <td><%=user.userlevel%></td>
          <td><button id="<%=index%>" onclick="showUpdateForm('<%=user.emp_id %>','<%=user.name %>', '<%=user.username %>' ,'<%=user.password %>', '<%=user.userlevel %>');" class="btn btn-primary">Update</button></td>
          <td><button type="" id="<%= user.emp_id %>" onclick="deleteUser(this.id);"
              class="btn btn-primary">Delete</button></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </div>

  <div id="update" class="container" style="visibility: hidden;">
    <h3>Update User</h3>
    <form id="updateForm" name="updateForm" method="PUT" action="/users">

      <input type="text" name="emp_id" value="" id="emp_id" />
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
          <input type="text" value="" name="name" class="form-control" id="name"
            required="required">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-4">
          <input type="text" value="" name="username" class="form-control" id="username"
            required="required">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
          <input type="text" name="password" value="" class="form-control" id="password"
            required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="userLevel">User Level</label>
        <div class="col-sm-4">
          <select class="form-control" name="userLevel" id="userLevel" required="required">
            <option id="option1">1</option>
            <option id="option2">2</option>
            <option id="option3">3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Save</button>
          <a class="btn btn-danger" href="/users" role="button">Cancel</a>
        </div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    function deleteUser(id) {

      var data = {};
      data.emp_id = id;

      $.ajax({
        type: 'DELETE',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'http://localhost:3000/users',
        success: function (data) {
          window.location.href = '/users/';
        }
      });
    }

    $("#updateForm").submit(function (event) {
      event.preventDefault(); //prevent default action 
      var post_url = $(this).attr("action"); //get form action url
      var request_method = $(this).attr("method"); //get form GET/POST method
      var form_data = $(this).serialize(); //Encode form elements for submission

      $.ajax({
        url: post_url,
        type: request_method,
        data: form_data
      }).done(function (response) { //
        console.log(response);
        window.location.href = '/users/';
      }).fail(function (response) {
        console.log(response);
      });
    });

  </script>
  <script>

    function showUpdateForm(emp_id, name, username, password, userlevel) {
      
      document.getElementById("update").setAttribute("style", "visibility: visible");
      document.getElementById("update").setAttribute("value", emp_id);
      document.getElementById("emp_id").setAttribute("value", emp_id);
      document.getElementById("name").setAttribute("value", name);
      document.getElementById("username").setAttribute("value", username);
      document.getElementById("userLevel").setAttribute("value", userlevel);
      document.getElementById("password").setAttribute("value", password);

      if(userlevel == "1"){
        document.getElementById("option1").setAttribute("selected", "selected");
      }else if (userlevel == "2"){
        document.getElementById("option2").setAttribute("selected", "selected");
      }else{
        document.getElementById("option3").setAttribute("selected", "selected");
      }

      
    }

  </script>
</body>

</html>
