<% include ../partials/head %>

  	<div class="container">
         <div class="jumbotron">
            <h1>Enter a new Bug</h1>
        </div>
    </div>
    <div class="container">
    	<form action="/bugs" method="POST">
			<div class="form-row">
    			<div class="form-group col-md-3">
    				<label for="prog_id">program</label>
    				<select class="custom-select mr-sm-2" onchange="dynamicArea()" id="prog_id" name="prog_id" required>
    					<option value="">--</option>
    					 <% programs.forEach(function(programs) { %>
    					 	<option value="<%=programs.prog_id%>"><%=programs.program%></option>
    					 <% }); %>
    				</select>
    			</div>
				<div class="form-group col-md-3">
					<label for="report_type">Report Type</label>
					<select class="custom-select mr-sm-2" id="report_type" name="report_type" required>
						<option value="">--</option>
						<option value="1">Coding Error</option>
						<option value="2">Design Issue</option>
						<option value="3">Suggestion</option>
						<option value="4">Documentation</option>
						<option value="5">Hardware</option>
						<option value="6">Query</option>
					</select>
				</div>

		    	<div class="form-group col-md-3">
					<label for="severity">Severity</label>
					<select class="custom-select mr-sm-2" id="severity" name="severity" required>
						<option value="">--</option>
						<option value="1">minor</option>
						<option value="3">serious</option>
						<option value="3">fatal</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-9">
    				<label for="problem_summary">problem summary</label>
    				<input type="text" class="form-control" id="problem_summary" name="problem_summary" required>
    			</div>
    		</div>
    		<div class="form-row">
    			<div class="form-group col-md-3" style="padding-left: 25px">
    				<input type="checkbox" class="form-check-input" id="reproducible" name="reproducible" value="1">
    				<label for="reproducible" class="form-check-label">Reproducible</label>
    			</div>
    		</div>
			<div class="form-row">
				<div class="form-group col-md-9">
					<label for="problem">Problem</label>
					<textarea class="form-control" id="problem" name="problem" rows="5" required></textarea>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-9">
					<label for="suggested_fix">Suggested Fix</label>
					<textarea class="form-control" id="suggested_fix" name="suggested_fix" rows="5" required></textarea>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="reported_by">reported by</label>
					<select class="custom-select mr-sm-2" id="reported_by" name="reported_by" required>
						<option value="">--</option>
						<% users.forEach(function(users) { %>
    					 	<option value="<%=users.emp_id%>"><%=users.username%></option>
    					 <% }); %>
    				</select>
				</div>
				<div class="form-group col-md-3">
					<label for="date">date</label>
					<input type="date" class="form-control" id="date" name="date" required>
				</div>
			</div>
    		<hr>
    		<!-- items below are optional -->
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="area_id">functional area</label>
					<select class="custom-select mr-sm-2"  id="area_id" name="area_id">
						<option value="">--</option>
						<% areas.forEach(function(areas) { %>
								<option value="<%=areas.area_id%>"><%=areas.area%></option>
					    <% }); %>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="assigned_to">assigned to</label>
					<select class="custom-select mr-sm-2" id="assigned_to" name="assigned_to">
						<option value="">--</option>
						<% users.forEach(function(users) { %>
    					 	<option value="<%=users.emp_id%>"><%=users.username%></option>
    					<% }); %>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-9">
					<label for="comments">comments</label>
					<textarea class="form-control" id="comments" name="comments" rows="5"></textarea>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="status">status</label>
					<select class="custom-select mr-sm-2" id="status" name="status">
						<option value="1">open</option>
						<option value="2">closed</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="priority">priority</label>
					<select class="custom-select mr-sm-2" id="priority" name="priority">
						<option value="">--</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="resolution">resolution</label>
					<select class="custom-select mr-sm-2" id="resolution" name="resolution">
						<option value="">--</option>
						<option value="1">pending</option>
						<option value="2">fixed</option>
						<option value="3">irresproducible</option>
						<option value="4">deferred</option>
						<option value="5">as designed</option>
						<option value="6">can't be fixed</option>
						<option value="7">withdrawn by reporter</option>
						<option value="8">need more info</option>
						<option value="9">disagree with suggestion</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="resolution_version">resolution version</label>
					<select class="custom-select mr-sm-2" id="resolution_version" name="resolution_version">
						<option value="">--</option>
						<option value="1">area 1</option>
						<option value="3">area 2</option>
						<option value="3">area 3</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="resolved_by">resolved by</label>
					<select class="custom-select mr-sm-2" id="resolved_by" name="resolved_by">
						<option value="">--</option>
						<% users.forEach(function(users) { %>
    					 	<option value="<%=users.emp_id%>"><%=users.username%></option>
    					<% }); %>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="resolved_date">date</label>
					<input type="date" class="form-control" id="resolved_date" name="resolved_date">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="tested_by">tested by</label>
					<select class="custom-select mr-sm-2" id="tested_by" name="tested_by">
						<<option value="">--</option>
						<% users.forEach(function(users) { %>
    					 	<option value="<%=users.emp_id%>"><%=users.username%></option>
    					<% }); %>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="tested_date">date</label>
					<input type="date" class="form-control" id="tested_date" name="tested_date">
				</div>
			</div>
    		<div class="form-row">
    			<div class="form-group col-md-3">
					<label for="">treat as?</label>
					<select class="custom-select mr-sm-2" id="treat_as" name="treat_as">
						<option value="1">Yes</option>
						<option value="2">No</option>
					</select>
				</div>
    		</div>
    		<div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn btn-primary" role="button">Reset</a>
                    <a class="btn btn-danger" href="/home" role="button">Cancel</a>
                </div>
            </div>
    	</form>
    </div>

   <script>
   		function dynamicArea() {
			var progid = document.getElementById("prog_id").value;
			console.log(progid);
			document.getElementById("area_id").options.length = 0;
			var count = 1;
			document.getElementById("area_id").options[0] = new Option('--');
			<% areas.forEach(function(areas) { %>
				if(<%=areas.prog_id%> == progid) {
					document.getElementById("area_id").options[count] = new Option('<%=areas.area%>', <%=areas.area_id%>);
					count++;
				}
			<% }); %>
		}
   </script>

<% include ../partials/footer %>