<% include ../partials/head %>

<div class="container">
    <div class="jumbotron">
        <h1>Search Bug</h1>
    </div>
</div>
<div class="container">
    <form action="/bugs/search?_method=POST" method="POST">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="prog_id">program</label>
                <select class="custom-select mr-sm-2" onchange="dynamicArea()" id="prog_id" name="prog_id">
                    <option value="" disabled selected>Choose...</option>
                    <% programs.forEach(function(programs) { %>
                        <option value="<%= programs.prog_id %>"><%= programs.program %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="report_type">Report Type</label>
                <select class="custom-select mr-sm-2" id="report_type" name="report_type">
                    <option value="1">Coding Error</option>
                    <option value="2">Design Issue</option>
                    <option value="3">Suggestion</option>
                    <option value="4">Documentation</option>
                    <option value="5">Hardware</option>
                    <option value="6">Query</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="severity">Severity</label>
                <select class="custom-select mr-sm-2" id="severity" name="severity">
                    <option value="1">minor</option>
                    <option value="3">serious</option>
                    <option value="3">fatal</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="area_id">functional area</label>
                <select class="custom-select mr-sm-2" id="area_id" name="area_id">
                    <option value="" disabled selected>Choose...</option>
                    <% areas.forEach(function(areas) { %>
                        <option value="<%= areas.area_id %>"><%= areas.area %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="assigned_to">assigned to</label>
                <select class="custom-select mr-sm-2" id="assigned_to" name="assigned_to">
                    <% users.forEach(function(users) { %>
                        <option value="<%= users.emp_id %>"><%= users.username %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="status">status</label>
                <select class="custom-select mr-sm-2" id="status" name="status">
                    <option value="1">open</option>
                    <option value="2">closed</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="priority">priority</label>
                <select class="custom-select mr-sm-2" id="priority" name="priority">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="resolution">resolution</label>
                <select class="custom-select mr-sm-2" id="resolution" name="resolution">
                    <option value="1">pending</option>
                    <option value="2">fixed</option>
                    <option value="3">irresproducible</option>
                    <option value="4">deferred</option>
                    <option value="5">as designed</option>
                    <option value="6">can't be fixed</option>
                    <option value="7">withdrawn by reporter</option>
                    <option value="8">need more info</option>
                    <option value="9">disagree with suggestion</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn btn-primary" role="button">Reset</a>
                    <a class="btn btn-danger" href="/home" role="button">Cancel</a>
                </div>
            </div>

    </form>
</div>

<script>
    function dynamicArea() {
        var progid = document.getElementById("prog_id").value;
        console.log(progid);
        document.getElementById("area_id").options.length = 0;
        var count = 0;
        <% areas.forEach(function(areas) { %>
        if (<%= areas.prog_id %> == progid)
        {
            document.getElementById("area_id").options[count] = new Option('<%= areas.area %>', <%= areas.area_id %>);
            count++;
        }
        <% }); %>
    }
</script>

<% include ../partials/footer %>
