<% include ../partials/head %>

    <div class="container content_body">
      <div class="jumbotron shadow">
        <h1>Edit/Delete a Program</h1>      
      </div>
      <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Program Name</th>
            <th>Release</th>
            <th>Version</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% programs.forEach(function(programs) { %>
            <tr>
              <td><%=programs.prog_id%></td>
              <td><%=programs.program%></td>
              <td><%=programs.program_release%></td>
              <td><%=programs.program_version%></td>
              <td><a class="btn btn-primary" href="/programs/edit/<%=programs.prog_id%>" role="button">Edit</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

<% include ../partials/footer %>