<% include ../partials/head %>

    <% include ../partials/search %>

    <div class="container">
        <h3>Programs</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Program Name</th>
              <th>Release</th>
              <th>Version</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% programs.forEach(function(program) { %>
              <tr>
                <td><a href="/programs/edit/<%=program.prog_id%>"><%=program.prog_id%></a></td>
                <td><%=program.program%></td>
                <td><%=program.program_release%></td>
                <td><%=program.program_version%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
    <div class="container">

<% include ../partials/footer %>
